# --- AWS provider --- #
region = "<aws-region>"

# --- Common --- #
friendly_name_prefix = "<sandbox>" # typically either environment (e.g. 'sandbox', 'prod') or team name
common_tags = {
  App   = "TFE"
  Env   = "<sandbox>"
  Owner = "<YourName>"
}

# ---TFE configuration settings --- #
tfe_fqdn                   = "<tfe.aws.example.com>"
create_helm_overrides_file = true

# --- Networking --- #
vpc_id                               = "<my-vpc-id>"
eks_subnet_ids                       = ["<my-eks-subnet-id-a>", "<my-eks-subnet-id-b>", "<my-eks-subnet-id-c>"]       # private subnets
rds_subnet_ids                       = ["<my-rds-subnet-id-a>", "<my-rds-subnet-id-b>", "<my-rds-subnet-id-c>"]       # private subnets
redis_subnet_ids                     = ["<my-redis-subnet-id-a>", "<my-redis-subnet-id-b>", "<my-redis-subnet-id-c>"] # private subnets
cidr_allow_ingress_tfe_443           = ["0.0.0.0/0"] # source CIDR range(s) of TFE users/clients, VCS webhooks
cidr_allow_ingress_tfe_metrics_http  = ["0.0.0.0/0"] # source CIDR range(s) of metrics collector, set to `null` to disable SG rule creation
cidr_allow_ingress_tfe_metrics_https = ["0.0.0.0/0"] # source CIDR range(s) of metrics collector, set to `null` to disable SG rule creation

# --- IAM --- #
create_eks_oidc_provider      = true
create_aws_lb_controller_irsa = true
create_tfe_eks_irsa           = true

# --- EKS --- #
create_eks_cluster                 = true
eks_cluster_endpoint_public_access = <false>
eks_cluster_public_access_cidrs    = <null>

# --- Database --- #
tfe_database_password_secret_arn = "<my-database-password-secret-arn>"
rds_skip_final_snapshot          = <false>

# --- Redis --- #
tfe_redis_password_secret_arn = "<my-redis-password-secret-arn>"